{% extends 'store\base.html' %}
{% load static %} 
{% block content %}
        
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="{% url 'store:home' %}">Home</a>
                        </li>
                        <li class="active">{{page}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blog-area pt-120 pb-120">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="row">
                            {% for item in blogs %}
                            <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                                <div class="blog-wrap mb-40">
                                    <div class="blog-img mb-20">
                                        <a href="{% url 'store:blog-detail' item.slug %}"><img style="max-height: 500px; max-width: 400px;"  src="{{item.cover_img.url}}" alt="blog-img"></a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-meta">
                                            <ul>
                                                <li><a href="{{item.category.get_blog_cat_url}}">{{item.category.name}}</a></li>
                                                <li>{{item.created}}</li>
                                            </ul>
                                        </div>
                                        <h1><a href="{% url 'store:blog-detail' item.slug %}">{{item.title}}</a></h1>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <h3>No blogs at the moment</h3>
                            {% endfor %}
                            
                        </div>
                        <div class="pro-pagination-style text-center mt-10">
                            <ul>
                                <li><a class="prev" href="#"><i class="icon-arrow-left"></i></a></li>
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a class="next" href="#"><i class="icon-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="sidebar-wrapper sidebar-wrapper-mrg-right">
                            <div class="sidebar-widget mb-40">
                                <h4 class="sidebar-widget-title">Search </h4>
                                <div class="sidebar-search">
                                    <form class="sidebar-search-form" action="#">
                                        <input type="text" placeholder="Search Post">
                                        <button>
                                            <i class="icon-magnifier"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="sidebar-widget shop-sidebar-border mb-35 pt-40">
                                <h4 class="sidebar-widget-title">Categories </h4>
                                <div class="shop-catigory">
                                    <ul>
                                        {% for item in category %}
                                        <li><a href="{{item.get_blog_cat_url}}">{{item.name}}</a></li>
                                        {% endfor %}
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                                <h4 class="sidebar-widget-title">Other Posts </h4>
                                <div class="recent-post">
                                    {% for item in side_bar %}
                                    <div class="single-sidebar-blog">
                                        <div class="sidebar-blog-img">
                                            <a href="{% url 'store:blog-detail' item.slug %}"><img src="{{item.cover_img.url}}" alt=""></a>
                                        </div>
                                        <div class="sidebar-blog-content">
                                            <h5><a href="{% url 'store:blog-detail' item.slug %}">{{item.title}}</a></h5>
                                            <span>{{item.created}}</span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                            <!-- <div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                                <h4 class="sidebar-widget-title">Archives </h4>
                                <div class="archives-wrap">
                                    <select>
                                        <option>Select Month</option>
                                        <option> January 2020 </option>
                                        <option> December 2018 </option>
                                        <option> November 2018 </option>
                                    </select>
                                </div>
                            </div>
                            <div class="sidebar-widget shop-sidebar-border pt-40">
                                <h4 class="sidebar-widget-title">Popular Tags</h4>
                                <div class="tag-wrap sidebar-widget-tag">
                                    <a href="#">Clothing</a>
                                    <a href="#">Accessories</a>
                                    <a href="#">For Men</a>
                                    <a href="#">Women</a>
                                    <a href="#">Fashion</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}