{% extends 'store/base.html' %}
{% load static %}
{% block content %}
{% load basket_template_tags %}      
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="{% url 'store:home' %}">Home</a>
                        </li>
                        <li class="active">Cart Page </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cart-main-area pt-115 pb-120">
            <div class="container">
                <h3 class="cart-page-title">Your cart items</h3>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <form action="#">
                            <div class="table-content table-responsive cart-table-content">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product Name</th>
                                            <th>Until Price</th>
                                            <th>Qty</th>
                                            <!-- <th>Subtotal</th> -->
                                            <th>action</th>
                                            <th>update</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in basket %}
                                        {% with product=item.product %}
                                        <tr data-index="{{product.id}}" class="product-item">
                                            <td class="product-thumbnail">
                                                <a href="{% url 'store:product-detail' product.product_url %}">
                                                    {% for image in product.product_image.all %}
                                                        {% if image.is_feature %}
                                                        <img style="max-height: 150px;" src="{{ image.image.url }}" alt="{{image.alt_text}}">
                                                        {% endif %}
                                                    {% endfor %}
                                                </a>
                                            </td>
                                            <td class="product-name"><a href="{% url 'store:product-detail' product.product_url %}">{{ product.product_name }}</a></td>
                                            {% if product.discount_price %}
                                            <td class="product-price-cart"><span class="amount">${{ product.discount_price }}</span></td>
                                            {% else %}
                                            <td class="product-price-cart"><span class="amount">${{ product.regular_price }}</span></td>
                                            {% endif %}
                                            <td class="product-quantity pro-details-quality">
                                                <div class="cart-plus-minus">
                                                    <form method="post">
                                                        {% csrf_token %}
                                                        <input id="select{{product.id}}" class="cart-plus-minus-box" type="text" name="qtybutton" value="{{item.qty}}" max="{{product.in_stock}}">
                                                    </form>
                                                </div>
                                            </td>
                                            <!-- <td class="product-subtotal">${{item.total_price }}</td> -->
                                            <td class="product-remove">
                                                <a type="button" data-index="{{product.id}}" id="delete-button" class="delete-button"><i class="icon_close"></i></a>
                                                <!-- <button id="delete-button" value="{{product.id}}"><i class="icon_close"></i></button> -->
                                            </td>
                                            <td>
                                                <button class="update-button" id="update-button" data-index="{{product.id}}">Update item</button>
                                            </td>
                                        </tr>
                                        
                                        {% endwith %} 
                                        {% empty %}
                                        <h2>No items in cart</h2>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="cart-shiping-update-wrapper">
                                        <div class="cart-shiping-update">
                                            <a href="#">Continue Shopping</a>
                                        </div>
                                        <div class="cart-clear">
                                            <!-- <button>Update Cart</button> -->
                                            <a href="#">Clear Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <!-- <div class="cart-tax">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gray">Estimate Shipping And Tax</h4>
                                    </div>
                                    <div class="tax-wrapper">
                                        <p>Enter your destination to get a shipping estimate.</p>
                                        <div class="tax-select-wrapper">
                                            <div class="tax-select">
                                                <label>
                                                    * Country
                                                </label>
                                                <select class="email s-email s-wid">
                                                    <option>Bangladesh</option>
                                                    <option>Albania</option>
                                                    <option>Åland Islands</option>
                                                    <option>Afghanistan</option>
                                                    <option>Belgium</option>
                                                </select>
                                            </div>
                                            <div class="tax-select">
                                                <label>
                                                    * Region / State
                                                </label>
                                                <select class="email s-email s-wid">
                                                    <option>Bangladesh</option>
                                                    <option>Albania</option>
                                                    <option>Åland Islands</option>
                                                    <option>Afghanistan</option>
                                                    <option>Belgium</option>
                                                </select>
                                            </div>
                                            <div class="tax-select">
                                                <label>
                                                    * Zip/Postal Code
                                                </label>
                                                <input type="text">
                                            </div>
                                            <button class="cart-btn-2" type="submit">Get A Quote</button>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="discount-code-wrapper">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4>
                                    </div>
                                    <div class="discount-code">
                                        <p>Enter your coupon code if you have one.</p>
                                        <form>
                                            <input type="text" required="" name="name">
                                            <button class="cart-btn-2" type="submit">Apply Coupon</button>
                                        </form>
                                    </div>
                                </div>
                            </div> 
                           {% include 'basket/proceed-to-checkout.html' %}
                            <!-- <div class="col-lg-4 col-md-12">
                                <div class="grand-totall">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                                    </div><br>
                                    <h5>Total products <span id="subtotal">${{basket.get_subtotal_price}}</span></h5>
                                    <div class="total-shipping">
                                        <h5>Total shipping</h5>
                                        <ul>
                                            <li><input type="checkbox"> Standard <span>${{basket.get_delivery_price}}</span></li>
                                            <li><input type="checkbox"> Express <span>$30.00</span></li>
                                        </ul>
                                    </div> 
                                    <h4 class="grand-totall-title">Grand Total <span id="subtotal">${{basket.get_total_price}}</span></h4>
                                    <a href="#">Proceed to Checkout</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscribe-area bg-gray pt-115 pb-115">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <div class="section-title">
                            <h2>keep connected</h2>
                            <p>Get updates by subscribe our weekly newsletter</p>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div id="mc_embed_signup" class="subscribe-form">
                            <form id="mc-embedded-subscribe-form" class="validate subscribe-form-style" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                <div id="mc_embed_signup_scroll" class="mc-form">
                                    <input class="email" type="email" required="" placeholder="Enter your email address" name="EMAIL" value="">
                                    <div class="mc-news" aria-hidden="true">
                                        <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                    </div>
                                    <div class="clear">
                                        <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // delete 
            $(document).on('click', '.delete-button', function (e){
                e.preventDefault();
                var prodid = $(this).data('index');
                console.log($('#select').val());
                $.ajax({
                    type: 'POST',
                    url : "{% url 'basket:basket_delete' %}",
                    data: {
                        productid: $(this).data('index'),
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        action: 'post',
                    },
                    success: function (json){
                        console.log(prodid)
                        $('.product-item[data-index="'+ prodid +'"]').remove();
                        document.getElementById('subtotal').innerHTML = json.total
                        document.getElementById('basket-qty').innerHTML = json.qty
                    },
                    error: function(xhr, errmsg, err ){

                    }
                });
            })

            // update
            $(document).on('click', '.update-button', function (e){
                e.preventDefault();
                var prodid = $(this).data('index');
                // console.log($('#select').val());
                $.ajax({
                    type: 'POST',
                    url : "{% url 'basket:basket_update' %}",
                    data: {
                        productid: $(this).data('index'),
                        productqty: $('#select'+ prodid).val(),
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        action: 'post',
                    },
                    success: function (json){
                        document.getElementById('basket-qty').innerHTML = json.qty
                        document.getElementById('subtotal').innerHTML = json.total
                    },
                    error: function(xhr, errmsg, err ){

                    }
                });
            })

        </script>
        {% endblock %}