{% load static %}
<div class="col-lg-3 col-md-4">
    <div class="myaccount-tab-menu nav" role="tablist">
        <a href="{% url 'accounts:dashboard' %}"  ><i class="fa fa-dashboard"></i>
            Dashboard</a>
        <a href="{% url 'accounts:orders' %}" ><i class="fa fa-cart-arrow-down"></i> Orders</a>
        <a href="{% url 'accounts:download' %}" ><i class="fa fa-cloud-download"></i> Download</a>
        <a href="#payment-method" ><i class="fa fa-credit-card"></i> Payment
            Method</a>
        <a href="{% url 'accounts:addresses' %}" ><i class="fa fa-map-marker"></i> address</a>
        <a href="{% url 'accounts:edit-details' %}"  ><i class="fa fa-user"></i> Account Details</a>
        <a href="{% url 'accounts:settings' %}" ><i class="fa fa-map-marker"></i> Settings</a>
        <a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
    </div>
</div>
<!-- class="active" -->