{% extends 'store/base.html' %}
{% load static %}
{% block content %}

        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="{% url 'store:home' %}">Home</a>
                        </li>
                        <li class="active">Wishlist </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="cart-main-area pt-60 pb-60">
            <div class="container">
                <h3 class="cart-page-title">Your wishlist items</h3>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <form action="#">
                            <div class="table-content table-responsive cart-table-content">
                                <table>
                                    {% if wishlist %}
                                    <thead> 
                                        <tr>
                                            <th>Image</th>
                                            <th>Product Name</th>
                                            <th>Until Price</th>
                                            <!-- <th>Qty</th>
                                            <th>Subtotal</th> -->
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    {% endif %}
                                    <tbody>
                                        {% for item in wishlist %}
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="{% url 'store:product-detail' item.id %}">
                                                    {% for image in item.product_image.all %}
                                                        {% if image.is_feature %}
                                                            <img style="max-height: 100px;" src="{{image.image.url}}" alt="{{image.alt_text}}">
                                                        {% endif %}
                                                    {% endfor %}
                                                </a>
                                            </td>
                                            <td class="product-name"><a href="{% url 'store:product-detail' item.id %}">{{item.product_name}}</a></td>
                                            <td class="product-price-cart"><span class="amount">${{ item.regular_price }}</span></td>
                                            <!-- <td class="product-quantity pro-details-quality">
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                                                </div>
                                            </td>
                                            <td class="product-subtotal">$110.00</td> -->
                                            <td class="product-wishlist-cart">
                                                <a href="{% url 'accounts:add_to_wishlist' item.id %}">Remove </a>
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <h2>You have not added products to your wishlist</h2>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscribe-area bg-gray pt-115 pb-115">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <div class="section-title">
                            <h2>keep connected</h2>
                            <p>Get updates by subscribe our weekly newsletter</p>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div id="mc_embed_signup" class="subscribe-form">
                            <form id="mc-embedded-subscribe-form" class="validate subscribe-form-style" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                <div id="mc_embed_signup_scroll" class="mc-form">
                                    <input class="email" type="email" required="" placeholder="Enter your email address" name="EMAIL" value="">
                                    <div class="mc-news" aria-hidden="true">
                                        <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                    </div>
                                    <div class="clear">
                                        <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       {% endblock %}