<div class="col-lg-4 col-md-12">
    <div class="grand-totall">
        <div class="title-wrap">
            <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
        </div><br>
        <h5>Total products <span id="subtotal">${{basket.get_subtotal_price}}</span></h5>
        <div class="total-shipping">
            <h5>Total shipping</h5>
            <ul>
                
                <li><input type="checkbox"> Standard <span>${{basket.get_delivery_price}}</span></li>
                <li><input type="checkbox"> Express <span>$30.00</span></li>
            </ul>
        </div> 
        <h4 class="grand-totall-title">Grand Total <span id="subtotal">${{basket.get_total_price}}</span></h4>
        <a href="#">Proceed to Checkout</a>
    </div>
</div>